body {
    background-color: rgb(255, 255, 165);
    
}

.image{
    border: 5px solid rgb(0, 195, 255);
    border-radius: 10px;
    height: 400px;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-delay: 0s;
    animation-timing-function: ease-in;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
} 


.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
